<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--注册Dubbo服务-->

    <!--dubbo注册的应用名称-->
    <dubbo:application name="CRM"/>
    <!--配置zookeeper注册中心地址-->
    <dubbo:registry address="zookeeper://192.168.1.112:2181"/>

    <dubbo:protocol name="dubbo" port="20881"/>

    <!--注册服务到dubbo-->
    <dubbo:service interface="com.kaishengit.crm.service.AccountService" ref="accountServiceImpl"/>
    <dubbo:service interface="com.kaishengit.crm.service.DeptService" ref="deptServiceImpl"/>

</beans>