<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--配置Realm-->
    <bean id="myRealm" class="com.kaishengit.piao.systemmanager.shiro.MyRealm">
        <property name="userService" ref="userService"/>
    </bean>

    <!--rememberMeCookie-->
    <bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <property name="maxAge" value="604800"/>
        <property name="httpOnly" value="true"/>
        <property name="name" value="rememberMe"/>
    </bean>

    <!--rememberMeManager-->
    <bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
        <property name="cookie" ref="rememberMeCookie"/>
    </bean>

    <!--securityManager-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="myRealm"/>
        <property name="cacheManager" ref="cacheManager"/>
        <property name="rememberMeManager" ref="rememberMeManager"/>
    </bean>

    <!--cacheManager-->
    <bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager"/>

    <!--Lifecycle-->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!--表单登录验证器-->
    <bean id="formAuthenticationFilter" class="org.apache.shiro.web.filter.authc.FormAuthenticationFilter">
        <!--表单中账号的控件name属性值-->
        <property name="usernameParam" value="mobile"/>
        <!--表单中密码的控件name属性值-->
        <property name="passwordParam" value="password"/>
        <property name="loginUrl" value="/"/>
        <property name="successUrl" value="/home"/>
    </bean>


    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!--登录地址-->
        <property name="loginUrl" value="/"/>
        <!--成功地址-->
        <property name="successUrl" value="/home"/>
        <!--无权限地址-->
        <property name="unauthorizedUrl" value="/static/html/403.html"/>
        <!--securityManager-->
        <property name="securityManager" ref="securityManager"/>
        <!--添加表单登录验证器-->
        <property name="filters">
            <map>
                <entry key="authc" value-ref="formAuthenticationFilter"/>
            </map>
        </property>
        <!--定义过滤规则-->
        <property name="filterChainDefinitions">
            <value>
                /static/** = anon
                /info/** = roles[基本信息]
                /** = user
            </value>
        </property>
    </bean>


</beans>