<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
        id : spring容器中bean的名称，整个容器唯一
        class: 被管理的bean的完全限定名称
    -->
    <!--<bean id="userDao,userDao2" class="com.kaishengit.dao.UserDao"/>-->
    <bean class="com.kaishengit.dao.UserDao"/>

    <!--<alias name="userDao" alias="userDao2"/>-->

</beans>